<div class="container">
  <div class="row footer">
    <div class="col-sm-4">
      <div class="copyright">Designed by Olawale Mayor &copy; 2022</div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="social-icons">
        <a href="https://web.facebook.com/ItsOlawale/"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://twitter.com/OlawaleMayor"
          ><i class="fab fa-twitter-square"></i
        ></a>
        <a href="https://www.instagram.com/o_mayor/"
          ><i class="fab fa-instagram-square"></i
        ></a>
      </div>
    </div>
  </div>
</div>
