<div class="hero">
  <div class="row">
    <div class="col-sm-9">
      <img [src]="heroImage" [title]="'image'" />
    </div>
    <div class="col-sm-3">
      <a href=""
        ><app-section-card
          [header]="'Latest News'"
          [category]="''"
          [posts]="5"
          [class]="'hide-card'"
        ></app-section-card
      ></a>
      <mat-list class="hide-mobile">
        <a href=""
          ><mat-list-item
            class="list-item"
            *ngFor="let item of latestNews | slice: 0:5; let i = index"
            >{{ item.title }}
          </mat-list-item></a
        >
      </mat-list>
    </div>
  </div>
</div>
<div class="row section">
  <div class="col-sm-6 mobile-section">
    <a href=""
      ><app-section-card
        [header]="'Sports News'"
        [category]="'sports'"
        [posts]="3"
      ></app-section-card
    ></a>
  </div>
  <div class="col-sm-6 mobile-section">
    <a href=""
      ><app-section-card
        [header]="'Entertainment News'"
        [category]="'entertainment'"
        [posts]="3"
      ></app-section-card
    ></a>
  </div>
</div>
<div class="row section">
  <div class="col-sm-4 mobile-section">
    <a href=""
      ><app-section-card
        [header]="'Business News'"
        [category]="'business'"
        [posts]="3"
      ></app-section-card
    ></a>
  </div>
  <div class="col-sm-4 mobile-section">
    <a href=""
      ><app-section-card
        [header]="'Politics News'"
        [category]="'politics'"
        [posts]="3"
      ></app-section-card
    ></a>
  </div>
  <div class="col-sm-4"></div>
</div>
