<div class="hero">
  <div class="row">
    <div class="col-sm-9">
      <img [src]="heroImage" [title]="'image'" />
    </div>
    <div class="col-sm-3">
      <app-section-card
        [header]="'Latest News'"
        [category]="''"
        [posts]="5"
        [class]="'hide-card'"
      ></app-section-card>
      <mat-list class="hide-mobile">
        <mat-list-item
          *ngFor="let item of latestNews | slice: 0:5; let i = index"
          >{{ item.title }}</mat-list-item
        >
      </mat-list>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <app-section-card
      [header]="'Sports News'"
      [category]="'sports'"
      [posts]="5"
    ></app-section-card>
  </div>
  <div class="col-sm-6">
    <app-section-card
      [header]="'Entertainment News'"
      [category]="'entertainment'"
      [posts]="5"
    ></app-section-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <app-section-card
      [header]="'Business News'"
      [category]="'business'"
      [posts]="5"
    ></app-section-card>
  </div>
  <div class="col-sm-4">
    <app-section-card
      [header]="'Politics News'"
      [category]="'politics'"
      [posts]="5"
    ></app-section-card>
  </div>
  <div class="col-sm-4"></div>
</div>
