<mat-toolbar color="primary">
  <div class="wrapper">
    <button
      mat-icon-button
      class="icon"
      aria-label="icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand-logo" (click)="goHome()">{{ brand }} App</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="favorite-icon"
      aria-label="icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="icon-button with share icon and menu"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>share</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>textsms</mat-icon>
        <span>Message</span>
      </button>
      <button mat-menu-item>
        <mat-icon>email</mat-icon>
        <span>Email</span>
      </button>
      <button mat-menu-item>
        <mat-icon>apps</mat-icon>
        <span>Others</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
