.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.router {
  margin: 12vh auto 0 auto;
  max-width: 1200px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 2px solid;
}

/*App drawer*/
.drawer-container {
  position: fixed;
  top: 5%;
  width: 100%;
  height: 100vh;
  z-index: 9999 !important;
  background: unset;
  max-width: max-content;
}

.drawer-content {
  z-index: unset !important;
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.menu-item {
  cursor: pointer;
  padding: 0.4rem 0;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .router {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .router {
    margin: 10% auto 0 auto;
  }
}
