<app-header [drawer]="drawer" class="header"></app-header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <div *ngFor="let item of menu" class="menu-item">
        <span>
          <mat-list-item>{{ item }}</mat-list-item>
          <mat-divider></mat-divider>
        </span>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content"></mat-drawer-content>
</mat-drawer-container>

<div class="router">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</footer>
