<h3>{{ header }}</h3>

<ng-carousel
  #carouselRef="ngCarousel"
  [config]="config"
  [ngClass]="class"
  class="carousel"
>
  <ng-template [ngCarouselSlide]="carouselRef" let-item>
    <mat-card class="card">
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.creator }}</mat-card-subtitle>
      <mat-card-content>
        <p class="news-description">{{ item.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</ng-carousel>
