h3,
.carousel-container {
  margin-left: 0.5rem;
}

h3 {
  font-weight: bolder;
}

.card {
  margin: 0 1rem;
  line-height: 1.5rem;
}

.news-description {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .hide-card {
    display: none;
  }
}
